* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
}

main{
    width:700px;
    margin: 40px auto;
    max-width: fit-content;
}

h1{
    margin-bottom: 30px;
    color:black
}

nav {
    padding: 10px;
    background-color: #a0bef5;
    color: azure;
}

nav a{
    padding: 10px;
    display: block;
    color: azure;
}


a{
    color: white;
    margin: 0 15px;
}

aside{
    width:800px;
    margin:40px auto;
    border:20px ;
    padding:30px;
    background-color: #7989a8;
    color: azure;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

main img {
  width: 150px;
  height: auto;
  border: 0px;
  padding: 10px;
  box-shadow: 0 0 30px #333;
}


h2{
    margin: 10px;
    font-size: 3rem;
}

p { padding: 0;
    width: 80%;
    margin: 20px auto;
}

footer{
    border-top: 1px solid azure;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}